.app {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.link {
    padding: 0;
    margin: 0;
    text-decoration: underline;
    transition: 0.15s;
}

.link:hover {
    color: var(--color-light);
}
