:root {
    --color-main: #538bc8;
    --color-dark: #2d5390;
    --color-light: #8cc1e7;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #eee;
    color: #111;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
    transition: background-color 0.25s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
